<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  {% block scripts %}
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  {% endblock %}
  </body>
</html>
{% endautoescape %}
